.TemplatePage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.Header {
    background-color: #fff159;
}

.PageContent > * {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

@media only screen and (min-width: 500px) {
    .PageContent > * {
        width: 70%;
    }
}

.Main {
    background-color: #e7e7e7;
    flex: 1 0 80%;
    padding-top: 16px;
}