.ProductCard {
    display: flex;
    background-color: #fff;
    font-size: 0.8em;
    padding: 2%;
    position: relative;

    &__image {
        width: 100%;
        height: auto;
        max-width: 125px;
    }

    &__price {
        font-size: 1.5em;
        font-weight: 300;
    }

    &__location {
        display: inline-block;
        margin-bottom: 0;

        &__card {
            padding: 1.5%;
            background-color: #e8e8e8;
            color: #706e6e;
            font-size: 0.8em;
        }

        &__text {
            display: none;
            position: absolute;
            top: 5vh;
            right: 5vh;
        }

        @media only screen and (min-width: 1024px) {
            &__card {
                display: none;
            }

            &__text {
                display: inline-block;
            }
        }
    }
}